.App {
  text-align: center;
  font-size: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  background-color: #457b9d;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
footer{
  background-color: #457b9d;
  height: 200px;
  color: #fff;
}
.footerbar{
  width: 40%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.contactheader{
  padding-top: 20px;
}
p{
  font-size: 28px;
  color: #457b9d;
  cursor: pointer;
}